*{
  font-size:  14px;
}

body {
    font-family: var(--font-family);
}                                        

.nav-sidebar .nav-item > .nav-link .right{
    top:30%;
}

aside{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
a.brand-link {
    min-height: 51px;
}
#menu-action{
    font-size: 2rem;
    margin-right: 20px;
}

.p-datepicker table td{
    padding:0;
}
.p-calendar * {
    font-size: 14px;
}